pkgbase = vicinae-bin
	pkgdesc = Raycast like FOSS app on Linux
	pkgver = 0.16.5
	pkgrel = 1
	url = https://github.com/vicinaehq/vicinae
	arch = x86_64
	license = GPL3
	depends = nodejs
	depends = qt6-base
	depends = qt6-svg
	depends = layer-shell-qt
	depends = libqalculate
	depends = qtkeychain-qt6
	provides = vicinae
	conflicts = vicinae
	source = https://github.com/vicinaehq/vicinae/releases/download/v0.16.5/vicinae-linux-x86_64-v0.16.5.tar.gz
	source = vicinae.hook
	sha256sums = 8cb07b2ab9bfd318849ae71c0c8be65d0a20f688a2ce3f4c19e45d2a1e34f70a
	sha256sums = 3e946bcb7f3c2faa3568218987012db336be92acff805a373b6c10bdeaa9e7a8

pkgname = vicinae-bin
