pkgbase = vicinae-bin
	pkgdesc = Raycast like FOSS app on Linux
	pkgver = 0.20.10
	pkgrel = 1
	url = https://github.com/vicinaehq/vicinae
	arch = x86_64
	license = GPL3
	depends = nodejs
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = layer-shell-qt
	depends = libqalculate
	depends = qtkeychain-qt6
	depends = libxml2
	depends = minizip
	depends = syntax-highlighting
	provides = vicinae
	conflicts = vicinae
	noextract = vicinae-x86_64-v0.20.10-1.tgz
	source = vicinae-x86_64-v0.20.10-1.tgz::https://github.com/vicinaehq/vicinae/releases/download/v0.20.10/vicinae-linux-x86_64-v0.20.10.tar.gz
	source = vicinae.hook
	sha256sums = 1f4c2c1767cdf82353f313576ca3256ad849f0fbce8fb44fb847da96964bc8e4
	sha256sums = 7b4715a9b3b25c55255824b171780dbb760406cb43ea8e3622bb9de867fd0ec7

pkgname = vicinae-bin
