pkgbase = vicinae-bin
	pkgdesc = Raycast like FOSS app on Linux
	pkgver = 0.13.3
	pkgrel = 1
	url = https://github.com/vicinaehq/vicinae
	arch = x86_64
	license = GPL3
	depends = nodejs
	depends = qt6-base
	depends = qt6-svg
	depends = layer-shell-qt
	depends = libqalculate
	depends = qtkeychain-qt6
	provides = vicinae
	conflicts = vicinae
	source = https://github.com/vicinaehq/vicinae/releases/download/v0.13.3/vicinae-linux-x86_64-v0.13.3.tar.gz
	source = https://raw.githubusercontent.com/vicinaehq/vicinae/refs/tags/v0.13.3/extra/vicinae.service
	source = https://raw.githubusercontent.com/vicinaehq/vicinae/refs/tags/v0.13.3/vicinae/icons/vicinae.svg
	source = vicinae.hook
	sha256sums = ec6bdd3d4154dcf0a54c0d244cc2d25708f9c65ec49875cf1f43540b6451d74a
	sha256sums = ad9c4ab5a52b13c9c9d1ae705ed72730d333a3c4e528d49bea983f221f89aa42
	sha256sums = 9b3957bd45e7508dc2d4e16d3186fc679752c0554ad43755cf0044e4f6484dab
	sha256sums = 2997c7441c4b98b880155303315955d99efdd08e791e36e52a5f4c2b1e3b26b9

pkgname = vicinae-bin
